<!DOCTYPE HTML>

<head>
    <title>Simple</title>
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <link rel="stylesheet" type="text/css" href="style/style.css" title="style"/>
</head>

<body>
<div id="main">
    <div id="menubar">
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li><a href=another_page>Another Page</a></li>
        </ul>
    </div>
    <div id="site_content">
        <li>USERNAME: {{user}}</li>
    </div>
</div>
<form action="" method="post">
    <fieldset>
        <legend>Are you want to send some message?</legend>
        <p><label class="title" for="name">Name:</label>
            <input type="text" name="name" id="name"><br/>
            <label class="title" for="email">email:</label>
            <input type="text" name="email" id="email"></p>
        <textarea name="comments" id="comments"
                  style="width:30%;padding:2%;height:50px;font:16px/19px cursive;border:10px double blue;">
        Message
        </textarea><br>
    </fieldset>
    <div class="submit"><input type="submit" value="Send"/></div>
</form>
</body>
